<body class="">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/ema/adminWelcome/events" class="btn btn-secondary my-2">Events</a>
          <a href="/ema/adminWelcome/profile" class="btn btn-secondary my-2">Profile</a>
          
    </div>


    <span class="btn btn-primary" id = "navIcon" style="font-size:30px;cursor:pointer; margin-left: 10px;" onclick="openNav()"> &#9776; </span>
      <a class="navbar-brand" href="/ema/adminWelcome"><big>EventMeetApp</big></a>


      <div id="navbarColor01">
        <ul class="navbar-nav mx-3">

          <li class="nav-item btn-primary">
            <a class="nav-link" href="/ema/adminWelcome"> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item btn-primary">
            <a class="nav-link btn-danger" href="/ema/auth/logout" style="border-radius: 5px; padding: 5px"> LogOut </a>
          </li>

        </ul>
      </div>
</nav>

