<% include partials/header %>
<% include partials/navBarStyle %>
<% include partials/adminNavbar %>
<% include partials/lineGaps %>


			<div class="jumbotron text-center">
	  		<h1 class="display-3">Welcome!</h1>
	  		<p class="lead"> Feel free to use our service </p>

			</div>


<% include partials/navbarScript %>

<% include partials/footer %>
