<% include partials/header %>
<% include partials/navBarStyle %>
<% include partials/navbar %>
<% include partials/lineGaps %>

	<section class = "container">
		<h3> List of Events</h3>
<a href = "/ema/newEvent" ><div class="btn btn-info px-4" style="position:fixed; right:10%; bottom:4% ; border-radius:50%;">
		<b style="color:black; font-size:3em"> + </b>
</div></a>
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Event <br> Name</th>
		      <th scope="col">Starting Date <br> (yy-mm-dd) </th>
		      <th scope="col">Ending Date <br> (yy-mm-dd)</th>
		    </tr>
		  </thead>
		  <tbody>

					<% lists.forEach((e)=>{%>
							<tr class="table-active">
								<td><a href="/ema/show/<%= e.id %>"> <%=e.name%> </a></td>
								<td><%=e.start_date%></td>
								<td><%=e.end_date%></td>
							</tr>
					<%})%>

		  </tbody>
		</table>




		<% include partials/navbarScript %>

		<% include partials/footer %>
