<%include partials/header%>
<%include partials/navBarStyle%>

<body class="">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
   
      <div class="navbar-header">
      <a class="navbar-brand " href="/ema"><h1>EventMeetApp</h1></a>
    </div>
   
</nav>
<br><br><br>
<br><br><br>
<div class="jumbotron text-center">
    <h1 class="display-3">Hello there! Let's Get Started ..</h1><br>
        <div class="h4 g-signin2">
        Sign in with <a class= "btn btn-lg btn-outline-danger" href="/ema/auth/google"> GOOGLE </a>
        </div>

</div>



<%include partials/footer%>