<!DOCTYPE html>
<html>


<head>
	<title>
		EventMeetApp
		
	</title>

	<style type="text/css">
		#topSec{
			height: 70px;
			width: 100%;
			background-color: #234567;
			text-decoration: none;
			text-align: center;

		}
		#midSec{
			color: white;
		}
		#finalSec a:hover img{
			-webkit-transform: scale(1);
			transform: scale(1);
			opacity: .7;
			height: 170px;
			width: 170px;
		}
		div.gallery {
		  margin: 5px;
		  border: 1px solid #ccc;
		  float: left;
		  width: 180px;
		}

		div.gallery:hover {
		  border: 1px solid #777;
		}
		div.gallery img {
  width: 100%;
  height: auto;
}

		

	
	</style>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body style="margin: 0px; background-color: #303030">


	<div id="topSec">

		<div style="font-size: 30px; padding-top: 10px; color: white;">EventMeetApp</div>		
	</div>


	<div id="midSec" class="row">
		<a class="btn btn-lg btn-outline-danger  col-3 txt" href="/ema/adminWelcome/events/show/<%= id %>/options"> <- BACK </a>
		<a class="btn btn-lg btn-outline-light  col-3 txt" href="/ema/adminWelcome"> home </a>
		<a class="btn btn-lg btn-outline-light  col-3" href="/ema/adminWelcome/events"> events </a>
		<a class="btn btn-lg btn-outline-light col-3" href="/ema/adminWelcome/profile"> profile </a>
	</div>
	<div style="margin: 10px">
		<form action="/ema/notification/save/<%=id%>" method="post">
		  
		  <div class="form-group">
		    <label style="color: white" class="text-center">Notification</label><br>
		   
		    <input type="text" name="notification" placeholder="Notification to be sent" ="" style="width: 40%; border: 2px solid; border-radius: 4px; padding:12px 20px; font-size: 20px" ><br>
	
		  <button type="submit" class="btn btn-primary">Submit</button></div>
		</form>

	</div>


	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>