<% include partials/header %>
<style>
  #col{
    padding:10px;
  }
</style>
<% include partials/navBarStyle %>
<% include partials/adminNavbar %>
<% include partials/lineGaps %>

<div style = "font-size: 40px; color: #888888" align = "center">
  About User
</div>
<br><br>
<div align= "center" >



  <table cellpadding="3" cellspacing = "0" border = "1" width = "70%" style = "font-size: 20px">
    <tr>
      <td> User Name </td>
      <td><%=profile.name%></td>
    </tr>
    <tr>
      <td> Email </td>
      <td>
      <%=profile.email%>
      </td>
    </tr>
  

  </table><br><br>

</div>
<% include partials/navbarScript %>

<% include partials/footer %>